# Database Configuration
DATABASE_URL="postgresql://postgres:@localhost:5432/epeetec_db?sslmode=prefer"

# Next.js Configuration
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"

# Development
NODE_ENV="development"
